<html>
  <!DOCTYPE HTML>
  <title>Upwork</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</link>
  <body>

  {% for post in posts %}
    <div class="post">
      <a href={{ post.url }}><h3 class="title">{{ post.title }}</h3></a>
      <p class="property">{{ post.ptype }} {{ post.duration }} Posted time:{{ post.posted_time }}</p>
      <div class="description">{{ post.description }}</div>
      <p class="proposal">{{ post.proposal }}</p>
      <p>Spent:{{ post.spent }}    Raiting:{{ post.feedback }}
        {% if "post.payment" %} Payment verified{% endif %} <span>location:{{ post.location }}<span></p>
      </div>
    {% endfor %}

</body>
</html>
